# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from config import gkey

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
part1_df = pd.read_csv("../WeatherPy/Output_Data/cities.csv")
part1_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Mitsamiouli,-11.3847,43.2844,83.50,66,41,2.89,KM,1612465417
1,1,Vila Velha,-20.3297,-40.2925,86.00,62,40,18.41,BR,1612465282
2,2,Chisec,15.8167,-90.2833,75.20,46,0,6.91,GT,1612465219
3,3,Puerto Ayora,-0.7393,-90.3518,86.00,62,0,5.75,EC,1612465425
4,4,Kavieng,-2.5744,150.7967,82.74,74,50,7.07,PG,1612465425

In [3]:
city_data = part1_df.drop(columns=["Unnamed: 0"])
city_data

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Mitsamiouli,-11.3847,43.2844,83.50,66,41,2.89,KM,1612465417
1,Vila Velha,-20.3297,-40.2925,86.00,62,40,18.41,BR,1612465282
2,Chisec,15.8167,-90.2833,75.20,46,0,6.91,GT,1612465219
3,Puerto Ayora,-0.7393,-90.3518,86.00,62,0,5.75,EC,1612465425
4,Kavieng,-2.5744,150.7967,82.74,74,50,7.07,PG,1612465425
...,...,...,...,...,...,...,...,...,...
575,Leshukonskoye,64.8989,45.7622,6.46,95,100,9.86,RU,1612465528
576,Pemangkat,1.1667,108.9667,76.06,91,100,6.24,ID,1612465528
577,Buenos Aires,-34.6132,-58.3772,84.00,30,0,9.22,AR,1612465202
578,Mehamn,71.0357,27.8492,30.20,74,75,21.85,NO,1612465529
579,Tutóia,-2.7619,-42.2744,87.80,62,20,21.85,BR,1612465529

In [4]:
city_data.sort_values(by='Humidity')

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
133,Atar,20.5169,-13.0499,89.60,7,100,11.50,MR,1612465448
488,Yaan,7.3833,8.5667,86.38,13,65,4.92,NG,1612465510
531,Lagdo,9.0500,13.7333,82.40,13,0,5.75,CM,1612465519
470,Yola,9.2000,12.4833,84.24,14,0,0.60,NG,1612465507
316,Rawson,-43.3002,-65.1023,95.92,14,0,8.95,AR,1612465479
...,...,...,...,...,...,...,...,...,...
342,Pontianak,-0.0333,109.3333,75.20,100,75,3.44,ID,1612465483
304,Torbay,47.6666,-52.7314,46.40,100,90,4.61,CA,1612465476
251,Sysert',56.4953,60.8192,23.00,100,40,4.47,RU,1612465468
402,Chrysochori,40.9333,24.7167,51.01,100,75,2.30,GR,1612465494
371,Marabu,4.4148,114.0089,77.00,100,40,4.61,MY,1612465488

In [5]:
city_data['Humidity'].dtypes

dtype('int64')

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [6]:
gmaps.configure(api_key=gkey)

city_coords = city_data[["Lat", "Lng"]]
humidity = city_data['Humidity'].astype(float)

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(city_coords, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=3)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
# filter cities by Ideal Weather conditions

ideal_weather = city_data.loc[(city_data['Cloudiness'] == 0) &
                                 (city_data['Wind Speed'] < 8) &
                                 (city_data['Max Temp'] < 78) &
                                 (city_data['Max Temp'] > 65) &
                                 (city_data['Humidity'] < 50), :].copy()
ideal_weather.dropna(inplace = True) 
ideal_weather

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,Chisec,15.8167,-90.2833,75.20,46,0,6.91,GT,1612465219
98,Bilma,18.6853,12.9164,67.35,25,0,7.16,NE,1612465441
125,Marsh Harbour,26.5412,-77.0636,65.17,49,0,4.00,BS,1612465446
241,Najrān,17.4924,44.1277,69.80,23,0,6.91,SA,1612465467
249,Celestún,20.8667,-90.4000,76.71,47,0,5.17,MX,1612465468
258,Kano,12.0001,8.5167,73.40,28,0,5.75,NG,1612465203
562,Riyadh,24.6877,46.7219,69.80,24,0,4.61,SA,1612465525

In [8]:
# check to see datatypes for each column in dataframe

ideal_weather.dtypes

City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date            int64
dtype: object

In [10]:
# check how many rows (cities) are in ideal weather dataframe

len(ideal_weather)

7

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [14]:
# add new column to dataframe for Hotel Name

ideal_weather['Hotel Name'] = ""

# select columns we want to display for Hotel DF

hotel_df = ideal_weather[['City', 'Country', 'Lat', 'Lng', 'Hotel Name']].copy()

hotel_df

              City Country      Lat      Lng Hotel Name
2           Chisec      GT  15.8167 -90.2833
98           Bilma      NE  18.6853  12.9164
125  Marsh Harbour      BS  26.5412 -77.0636
241         Najrān      SA  17.4924  44.1277
249       Celestún      MX  20.8667 -90.4000
258           Kano      NG  12.0001   8.5167
562         Riyadh      SA  24.6877  46.7219

In [15]:
# Build URL using the Google Maps API
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {
    "type": "lodging",
    "keyword": "hotel",
    "radius": 5000,
    "key": gkey
}
# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():

    # get restaurant type from df
    #coords = row['Lat'], row['Lng']

    # add keyword to params dict
    params['location'] = f"{row['Lat']}, {row['Lng']}"

    # assemble url and make API request
    try:
        print(f"Retrieving Results for: {row['City']}.")
        hotel_request = requests.get(base_url, params=params).json()
        
    except:
        print(f"Results not found.")
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_request["results"][0]["name"]
        print(f"Hotel result: {hotel_request['results'][0]['name']}\n")
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.\n")
        #hotel_df.loc[index, "Hotel Name"] = ""

hotel_df

Retrieving Results for: Chisec.
Hotel result: Hotel Estancia De La Virgen

Retrieving Results for: Bilma.
Missing field/result... skipping.

Retrieving Results for: Marsh Harbour.
Hotel result: Abaco Beach Resort

Retrieving Results for: Najrān.
Missing field/result... skipping.

Retrieving Results for: Celestún.
Hotel result: Playa 55 beach escape

Retrieving Results for: Kano.
Hotel result: Porto Golf Hotel

Retrieving Results for: Riyadh.
Hotel result: Al Muhaideb Hotel

              City Country      Lat      Lng                   Hotel Name
2           Chisec      GT  15.8167 -90.2833  Hotel Estancia De La Virgen
98           Bilma      NE  18.6853  12.9164
125  Marsh Harbour      BS  26.5412 -77.0636           Abaco Beach Resort
241         Najrān      SA  17.4924  44.1277
249       Celestún      MX  20.8667 -90.4000        Playa 55 beach escape
258           Kano      NG  12.0001   8.5167             Porto Golf Hotel
562         Riyadh      SA  24.6877  46.7219            Al Muhaideb Hotel

In [16]:
# drop rows without Hotel Results into final hotel DF

no_hotel = hotel_df.loc[hotel_df['Hotel Name'] == ""].index
final_hotel_df = hotel_df.drop(no_hotel)
final_hotel_df

              City Country      Lat      Lng                   Hotel Name
2           Chisec      GT  15.8167 -90.2833  Hotel Estancia De La Virgen
125  Marsh Harbour      BS  26.5412 -77.0636           Abaco Beach Resort
249       Celestún      MX  20.8667 -90.4000        Playa 55 beach escape
258           Kano      NG  12.0001   8.5167             Porto Golf Hotel
562         Riyadh      SA  24.6877  46.7219            Al Muhaideb Hotel

In [17]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in final_hotel_df.iterrows()]
locations = final_hotel_df[["Lat", "Lng"]]

In [18]:
# Add marker layer ontop of heat map

markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))